.container {
    display: flex;
    height: 100vh;

    .left {
        flex: 0 0 20%;
        background-color: #f0f0f0;
        padding: 10px;
        overflow-y: auto;
    }

    .right {
        flex: 1;
        background-color: #ffffff;
        padding: 10px 40px;
        overflow-y: auto;
    }
}